@model IEnumerable<AssignmentOnResCrud10feb.Models.Restaurant>

@{
    ViewBag.Title = "Create";
}

<h2>Add New Resturant</h2>

<form action="/Home/Create" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="RName">Resturant Name</label>
            <input type="text" name="RName" class="form-control" id="RName"
                   placeholder="Restaurant Name" />
        </div>


        <div class="form-group col-md-6">
            <label for="CusineType">CusineType </label>
            
        <select class="form-control" id="CusineType" name="CusineType">
            <option value="">Please select CusineType</option>
            @foreach (var d in ViewBag.Cusine)
            {
                <option value="@d.CusineType">@d.CusineType</option>
            }

        </select>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Add Resturant</button>
    <a class="btn btn-dark" href="/Home/Index">Cancel</a>
</form>

